# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environment
.venv/
venv/
env/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Misc
*.log
